name: pytest

on:
  - push
  - pull_request

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.8'
    - name: Install dependencies
      run: |
        pip install poetry
        poetry install
    - name: Run linter and pytest
      run: |
        make test
  coverage:
    name: coverage
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: actions/setup-python@v2
      with:
        python-version: '3.8'
    - run: pip install poetry
    - run: poetry install
    - uses: paambaati/codeclimate-action@v2.7.5
      env:
        CC_TEST_REPORTER_ID: d894bef25c1779253403fccb81a201b30345069b5dea2dac37c1bd1af49cf881
      with:
        coverageCommand: make coverage

